<%= form_with(model: video) do |form| %>
  <% if video.errors.any? %>
    <div style="color: red">
      <h2><%= pluralize(video.errors.count, "error") %> prohibited this video from being saved:</h2>

      <ul>
        <% video.errors.each do |error| %>
          <li><%= error.full_message %></li>
        <% end %>
      </ul>
    </div>
  <% end %>

  <div>
    <%= content.label :title, style: "display: block" %>
    <%= content.text_field :title %>
  </div>

  <div>
    <%= content.label :description, style: "display: block" %>
    <%= content.textarea :description %>
  </div>

  <div>
    <%= form.label :link_video, style: "display: block" %>
    <%= form.text_field :link_video %>
  </div>

  <div>
    <%= form.label :cover_image, style: "display: block" %>
    <%= form.text_field :cover_image %>
  </div>

  <div>
    <%= form.submit %>
  </div>
<% end %>
