<div id="<%= dom_id video %>">
    <p>
      <strong>Title:</strong>
      <%= video.title %>
    </p>
  
    <p>
      <strong>Description:</strong>
      <%= video.description %>
    </p>
  
    <p>
      <strong>Link video:</strong>
      <%= video.link_video %>
    </p>
  
    <p>
      <strong>Cover image:</strong>
      <%= video.cover_image %>
    </p>
  
  </div>
  